{% extends 'accounts/main.html' %}

{% block content %}
    <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Announcements</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>announcement 1</th>
                        </tr>
                        <td>announcement text here</td>

                        <tr>
                            <th>announcement 2</th>
                        </tr>
                        <td>announcement text here</td>

                    </table>
                </div>
            </div>

        </div>

{% endblock %}
