{% extends 'accounts/main.html' %}
{% load static %}

{% block title %} - Create Report{% endblock title %}

{% block cssblock %}
<style>
    #id_compliance li{
        list-style-type: none;
        margin-bottom: 20px;
    }
    #id_compliance{
        padding-left: 5%;
    }
    input{
        margin-right: 10px!important;
    }
    label {
        margin-right: 15px;
    }
</style>
{% endblock cssblock %}

{% block content %}
<div style="margin: 0 5%;">
    <div>
        <div style="margin: 20px 0px; color: #0069D9">
            <h1>{{ pageTitle }}</h1>
        </div>
    </div>
    <div style="padding-left: 10px;">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="submit">

        </form>
    </div>
</div>

{% endblock %}
