{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/stats.html' %}


<br>

<div class="row">
 <div class="col-md-5">
  <h5>Dashboard - Current Tenants:</h5>
  <hr>
  <div class="card card-body">
   <a class="btn btn-primary  btn-sm btn-block" href="{% url 'createReport_form' %}">Create Report</a>
   <table class="table table-sm">
    <tr>
     <th>Tenant</th>
     <th>Rectification Needed</th>
     <th>Score</th>
     <th>Next Audit</th>
    </tr>

    {% for store in stores %}
        <tr>
            <td>{{store.name}}</td>
            <td>{{store.rectificationNeeded}}</td>
            <td>{{store.score}}</td>
            <td>{{store.audit_date}}</td>
        </tr>
    {% endfor %}

   </table>
  </div>
 </div>

 <div class="col-md-7">
  <h5>Rectifications Pending Approval:</h5>
  <hr>
  <div class="card card-body">
   <a class="btn btn-primary  btn-sm btn-block" href="{% url 'rectify_form' %}">Submit Rectification</a>
   <table class="table table-sm">
    <tr>
     <th>Report No.</th>
     <th>Issue</th>
     <th>Date Updated</th>
     <th>Status</th>
    </tr>

    {% for order in orders %}
        <tr>
            <td>{{order.report}}</td>
            <td>{{order.issue}}</td>
            <td>{{order.date_created}}</td>
            <td>{{order.status}}</td>
        </tr>
    {% endfor %}

   </table>
  </div>
 </div>

</div>
{% endblock %}


