{% load static %}

<!-- Footer -->
<footer class="bg-light text-center text-lg-start" style="margin-top: 50px;">

    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="padding-bottom: 20px;">
          <h5 class="text-uppercase">SingHealth's Purpose</h5>
  
          <p>
            We are united by our common purpose to put ‘Patients. At the Heart of All We Do.’  Our institutions may span from primary to acute care but the fundamental principle to place patients at the heart of all initiatives remains. We aim to ensure that they remain well-supported as they journey from one care setting to another.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-0 mb-4 mb-md-0">
          
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="nav-link" href="{% url 'announcements' %}" class="text-dark">Contact Us</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'announcements' %}" class="text-dark">Announcements</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'stores' %}" class="text-dark">Directory</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'announcements' %}" class="text-dark">Help Desk Support</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <img src="{% static 'images/SingHealth_WebApp_footer_image.png' %}" width="1020" style="margin-right: 10px;">

  </footer>
  <!-- Footer -->