<br>
<h5>Statistics:</h5>
<div class="row">
 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="score">
      <div class="card-header">
       <h5 class="card-title">Audit Score</h5>
      </div>
      <div class="card-body">
           <h5 class="card-title">95%</h5>
        <h3 class="card-title"></h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="AuditDay">
      <div class="card-header">
       <h5 class="card-title">Next Audit Day</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title"></h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="rectify">
      <div class="card-header">
       <h5 class="card-title">Rectifications Pending</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title"></h3>
      </div>
   </div>
  </div>
 </div>
</div>