{% extends 'accounts/main.html' %}

{% block title %} - Stores{% endblock title %}

{% block content %}
    <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Directory</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Store</th>
                            <th>Category</th>
                            <th>Description</th>
                        </tr>

                        {% for store in stores %}
							<tr>
								<td>{{store.name}}</td>
								<td>{{store.category}}</td>
								<td>{{store.description}}</td>
							</tr>
						{% endfor %}

                    </table>
                </div>
            </div>

        </div>

{% endblock %}
